# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/

# Golang
go.work.sum

# Python
.venv/

.idea/
*.pem
logs/
log/
bin/
static/*
polaris/
